<div class="row">

    <div class="col-6">

        <app-dona title="Ventas"
                  [data]="data1"
                  [labels]="labels1">
        </app-dona>

    </div>

    <div class="col-6">

        <app-dona title="Compras"
                  [data]="data2"
                  [labels]="labels2"
        ></app-dona>

    </div>

</div>

<div class="row">

    <div class="col-6">

        <app-dona title="Clientes"
                  [data]="data3"
                  [labels]="labels3">
        </app-dona>

    </div>

    <div class="col-6">

        <app-dona 
                  [data]="data4"
                  [labels]="labels4">
        </app-dona>

    </div>

</div>